@using wR.Web.Extensions
@model wR.Web.ViewModels.GuessingViewModel
@{
    ViewBag.Title = "Flipcard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="row" style="margin-top: 20px;">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">@Html.LabelFor(m => m.SourceText)</th>
                <th scope="col">@Html.LabelFor(m => m.CorrectlyTranslatedText)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.SourceText</th>
                <th scope="row">@Model.CorrectlyTranslatedText</th>
            </tr>
        </tbody>
    </table>
</div>

<br />
@using (Html.BeginForm("SubmitGuess", "Guessing", FormMethod.Post, new { @class = "form-inline", @style = "height: 360px; padding-left: 30px; padding-right: 30px;" }))
{
    @Html.HiddenForEnumerable(m => m.AllRowTranslations, h => h.Id, h => h.English, h => h.French, h => h.German, h => h.Italian, h => h.Polish, h => h.Spanish, h => h.Id)
    @Html.HiddenFor(m => m.TranslationRowGuid)
    @Html.HiddenFor(m => m.SourceText)
    <fieldset>
        <div class="col-xs-8">
            <div class="form-group" style="margin-left: 30px;">
                @Html.LabelFor(m => m.TranslatedText, new { @class = "label label-default" })
                @Html.TextBoxFor(m => m.TranslatedText, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TranslatedText, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group pull-right">
                <input type="submit" name="CheckButton" class="btn btn-primary pull-right" style="margin-left: 5px;" value="Submit Check"/>
                <input type="submit" name="ForceButton" class="btn btn-default" value="Force" />
            </div>
        </div>
    </fieldset>
    <br />
}